<footer class="{% unless page.type_name == 'Donation (v2)' %}mt-5{% endunless %} py-5 bg-light border-top">
  <div class="container {% if page.type_name == 'Donation (v2)' %}px-md-5{% endif %}" {% if site.has_background_image? %}style="{% if page.type_name == 'Donation (v2)' %}max-width:740px;{% endif %}"{% endif %}>
    <div class="row justify-content-between">
      <div class="col-12 col-md-8">
        {% if site.footer_content.size > 0 %}
          {{ site.footer_content }}
        {% endif %}
        {% if request.logged_in? %} Hi
        <a href="{{ request.current_signup.settings_url }}">{{
          request.current_signup.name_or_email
        }}</a
        >. View your {% if site.show_public_profiles? %}
        <a href="{{ request.current_signup.profile_url }}">public profile</a>, {%
        endif %}
        <a href="{{ request.current_signup.settings_url }}">account settings</a>,
        or <a href="{{ request.current_signup.logout_url }}">sign out</a>. {% else
        %} Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>,
        <a href="{{ request.twitter_connect_url }}">Twitter</a> or
        <a href="/login">email</a>. {% endif %}
        {% if site.has_facebook_page? or site.has_twitter? %}
          <div class="mt-2">
            {% if site.has_facebook_page? %}
              <div class="fb-page" data-href="{{ site.broadcaster.facebook_page_profile_url }}" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="{{ site.broadcaster.facebook_page_profile_url }}"><a href="{{ site.broadcaster.facebook_page_profile_url }}">{{ site.broadcaster.facebook_page_username }}</a></blockquote></div></div>
            {% else %}
              <fb:like href="{{ site.full_url }}" colorscheme="{{ site.facebook_colorscheme }}"></fb:like>
            {% endif %}
            {% if site.has_twitter? %}
              <div class="pt-1">
                <a href="{{ site.broadcaster.twitter_profile_url }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.broadcaster.twitter_login }} on Twitter</a>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="col-12 col-md-auto">
        <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
              You can style it or move it in different ways, but please leave it in the footer. -->
        Created with <a href="http://nationbuilder.com/">NationBuilder</a>
      </div>
    </div>
  </div>
</footer>
