<div class="card-header">
  <h3 class="excerpt-type h6 mb-0 font-weight-normal">
    <a href="{{ homepage_excerpt.url }}" class="text-muted">Feedback</a>
  </h3>
</div>

<div class="card-body">
  {% if homepage_excerpt.feedback.content.size > 0 %}
    {{ homepage_excerpt.feedback.content }}
  {% endif %}

  <div class="form">

    {% form_for feedback %}
    {% hidden_field_tag "page_id", homepage_excerpt.id %}

    <div class="form-errors">{% error_messages_for feedback %}</div>

    {% if homepage_excerpt.feedback.is_content? %}
      <div class="form-group">
        <label for="feedback_content">{{ homepage_excerpt.feedback.content_name }}</label>
        {% text_area "content", class:"form-control textarea autogrow" %}
      </div>

      {% if site.ask_to_publish_to_stream? %}
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          {% check_box "is_private", class:"custom-control-input" %}
          <label class="custom-control-label" for="feedback_is_private">Don't post this publicly</label>
        </div>
      </div>
      {% endif %}
    {% endif %}

    {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
      <div class="form-group">
        <label for="feedback_first_name">First Name</label>
        {% text_field "first_name", class:"form-control" %}
      </div>
      <div class="form-group">
        <label for="feedback_last_name">Last Name</label>
        {% text_field "last_name", class:"form-control" %}
      </div>
    {% endif %}

    {% if request.sorta_logged_in? == false or request.current_signup.has_mobile? == false %}
      <div class="form-group">
        <label for="feedback_email">Email</label>
        {% email_field "email", class:"form-control" %}
      </div>

      {% if site.ask_for_mobiles? %}
        <div class="form-group">
          <label for="feedback_mobile_number">Mobile phone (optional)</label>
          {% phone_field "mobile_number", class:"form-control" %}
        </div>
      {% endif %}

      <div class="form-group">
        <div class="custom-control custom-checkbox">
          {% check_box "email_opt_in", class:"custom-control-input" %}
          <label class="custom-control-label" for="feedback_email_opt_in">Send me email updates</label>
        </div>
      </div>
      {% if site.ask_for_mobiles? %}
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            {% check_box "mobile_opt_in", class:"custom-control-input" %}
            <label class="custom-control-label" for="feedback_mobile_opt_in">Send me text messages</label>
          </div>
        </div>
      {% endif %}

    {% endif %}


    {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
      <div class="form-group">
        <label for="feedback_submitted_address">Address <small class="text-muted">(Street, City, State, Postal code)</small></label>
        {% text_field "submitted_address", class:"form-control" %}
      </div>
    {% endif %}

    {% if homepage_excerpt.feedback.is_volunteers? and site.ask_for_volunteers? %}
      {% if request.logged_in? == false or request.current_signup.is_volunteer == false %}
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            {% check_box "is_volunteer", class:"custom-control-input" %}
            <label class="custom-control-label" for="feedback_is_volunteer">I want to volunteer</label>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% submit_tag homepage_excerpt.feedback.submit_button_name, class:"btn btn-primary" %}
    <div class="form-submit"></div>

    {% endform_for %}

  </div>
</div>
