<div class="card-header">
  <h3 class="excerpt-type h6 mb-0 font-weight-normal">
    <a href="{{ homepage_excerpt.url }}" class="text-muted">Latest from the blog</a>
  </h3>
</div>

<div class="card-body">
{% for post in homepage_excerpt.blog.most_recent_blog_posts limit: 1 %}

  <h4 class="excerpt-title"><a href="{{ post.url }}">{{ post.headline }}</a></h4>

  <div class="byline text-muted small pb-2">
    Posted by {{ post.author.published_name_linked }} &middot; {{ post.published_at | date: '%B %d, %Y %l:%M %p' }}
    {% if post.show_stream? %}
    {% if post.public_activities_count > 0 %}
    &middot; <a href="{{ post.url }}#reactions">{{ post.public_activities_count }} reaction{% if post.public_activities_count > 1 %}s{% endif %}</a>
    {% endif %}
    {% endif %}
  </div>

  <div class="truncate-300" data-truncate="300">
    {{ post.blog_post.content }}
  </div>

  <a href="{{ post.url }}">Continue reading &rarr;</a>

{% endfor %}
</div>
<div class="card-footer">
  <small>
    <a href="{{ homepage_excerpt.url }}">See all posts</a>
    {% if homepage_excerpt.blog.is_posting_public? %}
    or <a href="{{ homepage_excerpt.url }}">{{ homepage_excerpt.blog.public_posting_prompt }}</a>
    {% endif %}
  </small>
</div>