<div class="mt-4 pt-4 like-page border-top">
  <div class="row">
    <div class="col">
      <p class="mb-1"><strong>{{ heading | default: "Do you like this page?"}}</strong></p>
      <div class="sharetable d-flex flex-wrap align-items-center">
        <div class="facebook-cell">
          {% if request.sorta_logged_in? %}
            <div class="d-none d-sm-block">
              <fb:like href="{{ page.full_url_with_recruiter }}" show_faces="false" width="300" send="true" action="like" colorscheme="{{ site.facebook_colorscheme }}" ref="r{{ current_signup.id }}"></fb:like>
            </div>
            <div class="d-block d-sm-none">
              <fb:like href="{{ page.full_url_with_recruiter }}" show_faces="false" width="245" send="false" action="like" colorscheme="{{ site.facebook_colorscheme }}" ref="r{{ current_signup.id }}"></fb:like>
            </div>
          {% else %}
            <div class="d-none d-sm-block">
              <fb:like href="{{ page.full_url }}" show_faces="false" width="300" colorscheme="{{ site.facebook_colorscheme }}" send="true" action="like"></fb:like>
            </div>
            <div class="d-block d-sm-none">
              <fb:like href="{{ page.full_url }}" show_faces="false" width="245" colorscheme="{{ site.facebook_colorscheme }}" send="false" action="like"></fb:like>
            </div>
          {% endif %}
        </div>
        <div class="twitter-cell" style="transform:translateY(5px);">
          {% if request.sorta_logged_in? %}
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ page.default_face_tweet_text }}" data-via="{{ site.broadcaster.twitter_login }}" data-url="{{ page.full_url_with_recruiter }}">Tweet</a>
          {% else %}
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ page.default_face_tweet_text }}" data-via="{{ site.broadcaster.twitter_login }}">Tweet</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% if page.type_name == "Blog Post" or page.type_name == "Suggestion" %}
      <div class="col-auto">
        {{ "Share" | share_button page_id: page.id }}
      </div>
    {% endif %}
  </div>
</div>
