{% if request.logged_in? %}

{% elsif request.sorta_logged_in? %}
  <p class="mb-0">
    Hi <strong>{{ request.current_signup.name_or_email }}!</strong><br/>
    Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.<br/>
    <small class="d-block text-muted">If you are not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}" class="text-reset">click here</a>.</small>
  </p>
{% else %}
  {% include "oauth_login_links" %}
  <a class="btn btn-link w-100" href="/login">Sign in with Email</a>
{% endif %}
