{% if page.has_subnav? %}
  <div class="card mb-4">
    <div class="card-header">
      <h4 class="h5 mb-0">In this section</h4>
    </div>
    <div class="subnav list-group list-group-flush">
      {% for child in page.nav_children %}
        {% if child.leaf? or child.nav_children.size == 0 %}
          <a class="list-group-item list-group-item-action {% if child.is_or_is_ancestor_of_current_page? %}active{% endif %}" href="{{ child.url }}">{{ child.name }}</a>
        {% else %}
          <a class="list-group-item list-group-item-action {% if child.is_or_is_ancestor_of_current_page? %}active{% endif %}" href="{{ child.url }}" >{{ child.name }}</a>
          {% for child2 in child.nav_children %}
            <a class="list-group-item list-group-item-action small" href="{{ child2.url }}">{{ child2.name }}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
