{% form_for vote_pledge %}

  <p class="text-success font-weight-bold">Yes, I will {% if vote_pledge.could_vote? %}vote for{% else %}support{% endif %} {{ site.candidate_first_name_or_site_name }}.</p>

  {% if page.vote_pledge.yes_content.size > 0 %}
    {{ page.vote_pledge.yes_content }}
  {% endif %}

  {% hidden_field_tag "vote_pledge[will_vote_status]", 1 %}

  <div class="form-errors">{% error_messages_for vote_pledge %}</div>

  {% unless request.logged_in? %}
    {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
      <div class="form-group">
        <label for="vote_pledge_first_name">First Name</label>
        {% text_field "first_name", class:"form-control" %}
      </div>
      <div class="form-group">
        <label for="vote_pledge_last_name">Last Name</label>
        {% text_field "last_name", class:"form-control" %}
      </div>
    {% endif %}
    {% if request.sorta_logged_in? == false %}
      <div class="form-group">
        <label for="vote_pledge_email">Email</label>
        {% email_field "email", class:"form-control" %}
      </div>
      {% if site.ask_for_mobiles? %}
        <div class="form-group">
          <label for="vote_pledge_mobile_number">Mobile phone (optional)</label>
          {% phone_field "mobile_number", class:"form-control" %}
        </div>
      {% endif %}
      {% unless page.show_consent_form? %}
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            {% check_box "email_opt_in", class:"custom-control-input" %}
            <label class="custom-control-label" for="vote_pledge_email_opt_in">Send me email updates</label>
          </div>
        </div>
        {% if site.ask_for_mobiles? %}
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              {% check_box "mobile_opt_in", class:"custom-control-input" %}
              <label class="custom-control-label" for="vote_pledge_mobile_opt_in">Send me text message updates</label>
            </div>
          </div>
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endunless %}

  {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
    <div class="form-group">
      <label for="vote_pledge_submitted_address">
        Address (Street, City, Postal code)
        <small class="text-muted d-block">To see if you can vote</small>
      </label>
      {% text_field "submitted_address", class:"form-control" %}
    </div>
  {% endif %}

  {% if site.ask_for_volunteers? %}
    {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          {% check_box "is_volunteer", class:"custom-control-input" %}
          <label class="custom-control-label" for="vote_pledge_is_volunteer">I want to volunteer</label>
        </div>
      </div>
    {% endif %}
  {% endif %}
    <div class="form-group">
      <label for="vote_pledge_content">Comments (optional)</label>
      {% text_area "content", class:"form-control" %}
    </div>
  {% if site.ask_to_publish_to_stream? %}
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        {% check_box "is_private", class:"custom-control-input" %}
        <label class="custom-control-label" for="vote_pledge_is_private">Don't publish this on the website</label>
      </div>
    </div>
  {% endif %}

  {% if page.show_consent_form? %}
    {% include "consent_form" %}
  {% endif %}

  {% submit_tag "Save pledge", class:"btn btn-primary submit-button" %}
  <div class="form-submit"></div>

{% endform_for %}
