<div id="flag-content" class="flag-content">
  {% unless request.is_ajax? %}
    <h3 class="headline">Flagging page <a href="{{ page.url }}" target="_top">{{ page.headline }}</a></h3>
  {% endunless %}

  {% form_for flag %}
    <div class="form">
      <div class="form-errors">{% error_messages_for flag %}</div>
      {% hidden_field_tag "flag[page_id]", page.id %}
      {% if site.has_rule_page? %}
        <div class="form-group">
          <label for="flag_rule_id">Which rule was violated?</label>
          {% select_field "rule_id", site.rule_page.rule.rules_collection, class:"form-control" %}</div>
        </div>
      {% endif %}
      <div class="form-group">
        <label for="flag_content">Explanation (optional)</label>
        {% text_area "content", class:"form-control autogrow" %}
      </div>
      {% submit_tag "Flag this page", class:"btn btn-primary" %}
      <div class="form-submit"></div>
    </div>
  {% endform_for %}
</div>