{% if page.headline.size > 0 %}
  <h2 class="mb-3">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if page.rule.content.size > 0 %}
    <div id="intro" class="intro">
      {{ page.rule.content }}
    </div>
  {% endif %}

  <dl class="my-4">
    {% for rule in page.rule.rules %}
      <dt>{{ rule.name }}</dt>
      <dd>{{ rule.content }}</dd>
    {% endfor %}
  </dl>

  {% if page.tags_count > 0 %}
    <div class="page-tags">
      {% include "page_tags" with page %}
    </div>
  {% endif %}

  {% include "like_page" heading: "Do you like this?" %}

  {% if page.show_stream? %}
    {% include "page_stream" %}
  {% endif %}

</div>
