{% if page.headline.size > 0 %}
  <h2 class="mb-3">{{ page.headline }}</h2>
{% endif %}

<div class="my-4 iframe-wrapper">
  <iframe src="https://register.rockthevote.com/registrants/new?partner={{ page.voter_registration.rtv_id }}&source=embed-rtv234x60v1" width="100%" height="800" frameBorder="0"></iframe>
</div>

{% if page.tags_count > 0 %}
  <div id="page-tags" class="page-tags">
    {% include "page_tags" with page %}
  </div>
{% endif %}

{% include "like_page" heading: "Do you like this?" %}

{% if page.show_stream? %}
  {% include "page_stream" %}
{% endif %}
