{% if page.headline.size > 0 %}
  <h2 class="mb-3">{{ page.headline }}</h2>
{% endif %}


{% if page.question.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.question.content }}
  </div>
{% endif %}

{% if page.question.answer.size > 0 %}
  <div class="my-4 card">
    <p class="card-header">Answer</p>
    <div class="card-body">
      {{ page.question.answer }}
    </div>
  </div>
{% endif %}

{% if page.tags_count > 0 %}
  <div id="page-tags" class="page-tags">
    {% include "page_tags" with page %}
  </div>
{% endif %}

{% include "like_page" heading: "Was this helpful?" %}

{% if page.show_stream? %}
  {% include "page_stream" %}
{% endif %}
