{% if profile.profile_headline.size > 0 %}
  <h2 class="mb-3">{{ profile.profile_headline }}</h2>
{% endif %}

{% if profile.profile_content.size > 0 %}
  <div id="intro" class="intro">
    {{ profile.profile_content }}
  </div>
{% endif %}

<div class="mb-4 card">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="mr-3">
        {% include "avatar", signup: profile %}
      </div>
      <div class="media-body">
        <p class="d-flex align-items-center m-0">
          <a href="{{ request.current_signup.settings_url }}" class="name" id="name">{{ profile.published_name }}</a> <span class="badge badge-secondary ml-1">{{ request.current_signup.capital_amount_format }}</span>
        </p>
        {% if profile.has_membership_level_badge %}
          {% if site.has_membership_page? %}
            <span class="badge badge-secondary"><a href="{{ site.membership_page.url }}">{{ profile.membership_level_badge }}</a></span>
          {% else %}
            <span class="badge badge-secondary">{{ profile.membership_level_badge }}</span>
          {% endif %}
        {% endif %}
        {% if request.current_signup.is_banned? %}
          <span class="text-danger">Banned</span>
        {% elsif request.current_signup.rule_violations_count == 1 %}
          <span class="text-warning">Warning</span>
        {% elsif request.current_signup.rule_violations_count == 2 %}
          <span class="text-warning">1 violation</span>
        {% elsif request.current_signup.rule_violations_count == 3 %}
          <span class="text-warning">2 violations</span>
        {% endif %}
      </div>
    </div>

      <div class="mt-2">
        {% include "signup_follow" with profile %}
        {% if profile.has_bio? or profile.has_website? or profile.has_twitter_info? %}
          {% if profile.has_bio? %}
            {{ profile.bio | link_urls }}
          {% endif %}
          {% if profile.has_website? %}
            <div class="mt-1">
              <a href="{{ profile.website }}">{{ profile.website }}</a>
            </div>
          {% endif %}
          {% if profile.has_twitter_info? %}
            <div class="mt-1">
              <a href="{{ profile.twitter_profile_url }}" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">@{{ profile.twitter_login }}</a>
            </div>
          {% endif %}
        {% endif %}
      </div>
  </div>

  {% if settings.is_donor? and profile.has_fundraising_goal? %}
    <div class="card-body border-top">
      {% include "progress"
        percent: profile.percent_of_fundraising_goal,
        amount: profile.donations_raised_amount_format,
        goal: profile.donations_to_raise_amount_format
      %}
    </div>
  {% endif %}

  {% include "site_buttons" %}
</div>

{% if profile.most_recent_posts.size > 0 %}
  <h4>{{ profile.published_name }}'s activity stream</h4>
  <ul class="list-unstyled mb-4">
    {% for post in profile.most_recent_posts %}
    <li class="{% unless forloop.last == true %}mb-4 pb-4 border-bottom{% endunless %}">
      {{ post.activity.show }}
      {% if post.activity.show_page? %}
      <div class="mt-3 form-wrap page-{{ post.page.id }}">
        <h4><a href="{{ post.page.url | recruiter_url recruiter_id:profile.id }}">{{ post.page.headline }}</a></h4>
        {% include "page_profile" with post.page %}
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {{ profile.most_recent_posts | paginate prev_label: "Previous" next_label: "Next" }}
{% endif %}
