{% if page %}
  <h2 class="mb-3">Post your {{ page.calendar.event_name | downcase }}</h2>
{% else %}
  <h2 class="mb-3">Post your event</h2>
{% endif %}

{% form_for event_page %}
<div class="form-wrap">
  <div class="form">

    <div class="form-errors">{% error_messages_for event_page %}</div>

    <div class="form-row">
      <div class="form-group col">
        <label for="event_page_name">Headline</label>
        {% text_field "page_headline", class:"form-control" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="event_page_start_at_chronic">When</label>
        {% text_field "start_at_chronic", class:"form-control" %}
      </div>

      <div class="form-group col-md-6">
        <label for="event_page_duration_chronic">Length</label>
        {% text_field "duration_chronic", class:"form-control" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="event_page_time_zone">Time zone</label>
        {% select_field "time_zone", event_page.time_zones, class:"form-control" %}
      </div>

      <div class="form-group col-md-6">
        <label for="event_page_capacity_count">Maximum capacity</label>
        {% text_field "capacity_count", class:"form-control" %}
      </div>
    </div>

    {% if event_page.page_parent_id.size > 0 %}
      {% hidden_field_tag "event_page[page_parent_id]", event_page.page_parent_id %}
    {% else %}
      <div class="form-row">
        <div class="form-group col">
          <label for="event_page_page_parent_id">Post in</label>
          {% select_field "page_parent_id", event_page.calendars_available, class:"form-control" %}
        </div>
      </div>
    {% endif %}

    <h4 class="my-4 pt-4 border-top">Contact info</h4>

    <div class="form-row">
      <div class="form-group col">
        <label for="event_page_contact_name">Name</label>
        {% text_field "contact_name", class:"form-control" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="event_page_contact_email">Email</label>
        {% text_field "contact_email", class:"form-control" %}
      </div>

      <div class="form-group col-md-6">
        <label for="event_page_contact_phone_number">Phone</label>
        {% text_field "contact_phone_number", class:"form-control" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="custom-control custom-checkbox">
          {% check_box "is_contact_email_private", class: "custom-control-input" %}
          <label for="event_page_is_contact_email_private" class="custom-control-label">Don't publish email address</label>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="custom-control custom-checkbox">
          {% check_box "is_contact_phone_private", class:"custom-control-input" %}
          <label for="event_page_is_contact_phone_private" class="custom-control-label">Don't publish phone number</label>
        </div>
      </div>
    </div>

    <h4 class="my-4 pt-4 border-top">Location</h4>

    <div class="form-row">
      <div class="form-group col">
        <label for="event_page_venue_name">Venue name</label>
        {% text_field "venue_name", class:"form-control" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="event_page_address1">Address</label>
        {% text_field "venue_address.address1", class:"mb-2 form-control" %}
        {% text_field "venue_address.address2", class:"form-control" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="event_page_city">City</label>
        {% text_field "venue_address.city", class:"form-control" %}
      </div>

      {% if settings.has_states? %}
        <div class="form-group col-md-4">
          <label for="event_page_state">State</label>
          {% text_field "venue_address.state", class:"form-control" %}
        </div>
      {% endif %}

      <div class="form-group col-md-4">
        <label for="event_page_zip">Postal code</label>
        {% text_field "venue_address.zip", class:"form-control" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label for="event_page_country_code">Country</label>
        {% select_field "venue_address.country_code", event_page.countries, "code", "name", class:"form-control" %}
      </div>
    </div>

    <h4 class="mt-4 mb-2 pt-4 border-top">Ticket price</h4>

    <div class="form-row">
      <div class="form-group col text-secondary">If free, just leave at 0.00.</div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="event_page_user_ticket_price">Amount</label>
        {% text_field "user_ticket_price", class:"form-control" %}
      </div>

      <div class="form-group col-md-6">
        <label for="event_page_user_ticket_currency">Currency</label>
        {% select_field "user_ticket_currency", event_page.currencies_available, class:"form-control" %}
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col">
        <label for="event_page_user_ticket_purchase_url">Ticket purchase URL</label>
        {% text_field "user_ticket_purchase_url", class:"form-control" %}
      </div>
    </div>

    <h4 class="my-4 pt-4 border-top">Description, include directions</h4>

    <div class="form-row">
      <div class="form-group col">
        {% text_area "content_editable", class:"textarea-tinymce" %}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <div class="custom-control custom-checkbox">
          {% check_box "accept_rsvps", class:"custom-control-input" %}
          <label for="event_page_accept_rsvps" class="custom-control-label">Allow people to RSVP</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <div class="custom-control custom-checkbox">
          {% check_box "allow_guests", class:"custom-control-input" %}
          <label for="event_page_allow_guests" class="custom-control-label">Allow people to bring guests (+1)</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <div class="custom-control custom-checkbox">
          {% check_box "show_guests", class:"custom-control-input" %}
          <label for="event_page_show_guests" class="custom-control-label">Show who is coming</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <div class="custom-control custom-checkbox">
          {% check_box "is_private", class:"custom-control-input" %}
          <label for="event_page_is_private" class="custom-control-label">Keep the RSVP page hidden from the rest of the site</label>
        </div>
      </div>
    </div>

    <div>
      {% submit_tag "Save and post", class:"btn btn-primary submit-button" %}
      <div class="form-submit"></div>
    </div>
  </div>
</div>
{% endform_for %}

