{% if request.logged_in? == false %}
  <div class="form col-12 col-md-10 col-lg-9 mx-auto">
    <div class="card-group">
      <div class="card">
        <div class="card-body py-md-4">
          <h2 class="headline">Create a {{ site.name }} account</h2>
          {% form_for account %}
            <div class="form-errors">{% error_messages_for account %}</div>
            <div class="form-row">
              <div class="form-group col">
                <label for="account_email">Email</label>
                {% email_field "email", class:"form-control" %}
              </div>
            </div>
            <div class="form-row align-items-center">
              <div class="form-group col-auto">
                {% submit_tag "Send activation instructions", class:"btn btn-primary submit-button mr-2" %}
              </div>
              <div class="form-group col">
                <a href="{{ request.new_password_reset_url }}">Reset my password</a>
              </div>
            </div>
            <div class="form-submit"></div>
          {% endform_for %}
        </div>
      </div>
      <div class="card bg-light">
        <div class="card-body d-flex h-100">
          <div class="align-self-center py-md-4 mx-auto">
            <p class="h4 mb-3">Or sign in instantly with:</p>
            {% include "oauth_login_links" %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="form col-12 col-md-8 col-lg-6 mx-auto">
    <div class="card">
      <div class="card-body py-md-4">
        <h2 class="headline">Create a {{ site.name }} account</h2>
        {% form_for account %}
          <div class="form-errors">{% error_messages_for account %}</div>
          <div class="form-row">
            <div class="form-group col">
              <label for="account_email">Email</label>
              {% email_field "email", class:"form-control" %}
            </div>
          </div>
          <div class="form-row align-items-center">
            <div class="form-group col-auto">
              {% submit_tag "Send activation instructions", class:"btn btn-primary submit-button mr-2" %}
            </div>
            <div class="form-group col">
              <a href="{{ request.new_password_reset_url }}">Reset my password</a>
            </div>
          </div>
          <div class="form-submit"></div>
        {% endform_for %}
      </div>
    </div>
  </div>
{% endif %}